<div class="col-sm-12">
    <div class="row">

        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <br>
                    <div class="row">
                        <h4>Merchant Name</h4>
                    </div>
                    <form #data="ngForm" method="POST" nonvalidate (ngSubmit)="fetch(data.value)">

                        <div class="row" class="form-group">

                            <br>
                            <input type="text" name="search" class="form-control" ngModel>
                        </div>

                        <button type="submit" [disabled]="!data.valid" class="btn btn-primary btn-md">Search</button>
                    </form>

                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <div *ngIf="this.merdata">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Merchant ID</th>
                                    <th>Merchant Name</th>
                                    <th>Location</th>
                                    <th>Gallery Images Exists</th>
                                    <th>Logo Image Upload</th>
                                    <th>Cover Image Uplaod</th>
                                    <th>Multiple Image Uplaod</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let arr of this.merdata;let i =index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{arr._id}}</td>
                                    <td>{{arr.name}}</td>
                                    <td>{{arr.address.locality}},{{arr.address.city}}</td>
                                    <td>
                                        <span *ngIf="arr.images.length">True  </span>

                                    </td>
                                    <td>&emsp;<label><i class="fa fa-plus fa-lg" (click)="getId(arr._id)" data-toggle="modal"  data-target="#logo" aria-hidden="true"></i><span *ngIf="arr.logo_image">(True) </span></label></td>
                                    <td>&emsp;&emsp;<label><i class="fa fa-plus fa-lg" (click)="getId(arr._id)" data-toggle="modal"  data-target="#cover" aria-hidden="true"></i></label></td>
                                    <td>&emsp;&emsp;&emsp;<label><i class="fa fa-plus fa-lg" data-toggle="modal" (click)="getId(arr._id)"  data-target="#multiple" aria-hidden="true"></i></label></td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="logo" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">

                <h4 class="modal-title">Add Logo Image</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>

</button>
            </div>
            <div class="container">
                <div class="col-sm-12">
                    <br>
                    <div class="row">
                        <input type="file" ng2FileSelect [uploader]="uploader" accept="image/*;capture=camera" />
                    </div>
                    <br>
                    <div class="row">
                        <button class="btn btn-success" (click)="uploadLogo()">Upload</button>
                    </div>
                    <br>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="cover" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">

                <h4 class="modal-title">Add Cover Image</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>

</button>
            </div>
            <div class="container">
                <div class="col-sm-12">
                    <br>
                    <div class="row">
                        <input type="file" ng2FileSelect [uploader]="uploader" accept="image/*;capture=camera" />
                    </div>
                    <br>
                    <div class="row">
                        <button class="btn btn-success" (click)="uploadCover()">Upload</button>
                    </div>
                    <br>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="multiple" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">

                <h4 class="modal-title">Add Multiple Images</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>

</button>
            </div>
            <div class="container">
                <div class="col-sm-12">
                    <br>
                    <div class="row">
                        <input type="file" ng2FileSelect multiple="multiple" id="file" name="file" [uploader]="uploaderMultiple" (change)="fileChange($event)" accept="image/*;capture=camera" />
                    </div>
                    <br>
                    <div class="row">
                        <button class="btn btn-success" (click)="upload()">Upload</button>
                    </div>
                    <br>
                </div>
            </div>

        </div>
    </div>
</div> 

<div class="modal fade" id="ratecard" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">

                <h4 class="modal-title">Add Rate Cards</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>

</button>
            </div>
            <div class="container">
                <div class="col-sm-12">
                    <br>
                    <div class="row">
                        <input type="file" ng2FileSelect multiple="yes" id="file" name="file" [uploader]="uploaderRate"  accept="image/*;capture=camera" />
                    </div>
                    <br>
                    <div class="row">
                        <button class="btn btn-success" (click)="uploadRate()">Upload</button>
                    </div>
                    <br>
                </div>
            </div>

        </div>
    </div>
</div>