<form #data="ngForm" method="POST" nonvalidate (ngSubmit)="onsave(data.value)">
    <div class="col-sm-12">
        <div class="row">


            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <div class="row">
                            <h4>Packages</h4>
                        </div>
                        <div class="row" class="form-group">

                            <br> Package Name
                            <textarea name="name" required class="form-control" ngModel></textarea>
                        </div>
                        <br>
                        <div class="row" class="form-group">
                            <br> Original Price
                            <input type="number" name="original_price" placeholder="Enter Original Price" ngModel required class="form-control">
                        </div>
                        <br>
                        <div class="row" class="form-group">

                            <br> Discounted Price

                            <input type="number" name="discounted_price" placeholder="Enter Discounted Price" ngModel required class="form-control">
                        </div>


                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <button type="submit" [disabled]="!data.valid" class="btn btn-primary btn-md">Save</button>
    <form>