<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <br>
                    <div class="row">
                        <h4>Merchant Name</h4>
                    </div>
                    <form #data="ngForm" method="POST" nonvalidate (ngSubmit)="fetch(data.value)">

                        <div class="row" class="form-group">

                            <br>
                            <input type="text" name="name" class="form-control" ngModel>
                        </div>

                        <button type="submit" [disabled]="!data.valid" class="btn btn-primary btn-md">Search</button>
                    </form>

                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <div *ngIf="this.merdata">

                        <div class="row">
                            <div class="col-sm-6">
                                <form #pac="ngForm" method="POST" nonvalidate (ngSubmit)="submit(pac.value)">

                                    <br>
                                    <div class="row">
                                        <h4>Package Name</h4>
                                    </div>

                                    <div class="row" class="form-group">

                                        <br> Package Name
                                        <textarea name="name" required class="form-control" ngModel></textarea>
                                    </div>

                                    <div class="row" class="form-group">
                                        <br> Original Price
                                        <input type="number" name="original_price" placeholder="Enter Original Price" ngModel required class="form-control">
                                    </div>

                                    <div class="row" class="form-group">

                                        <br> Discounted Price

                                        <input type="number" name="discounted_price" placeholder="Enter Discounted Price" ngModel required class="form-control">
                                    </div>
                                    <button type="submit" [disabled]="!pac.valid" class="btn btn-primary btn-md">Add Package</button>

                                </form>
                            </div>



                            <div class="col-sm-6">
                                <form #exc="ngForm" method="POST" nonvalidate (ngSubmit)="exclusive(exc.value)">

                                    <div class="row">
                                        <div class="row">
                                            <h4>Special/Exclusive Offers</h4>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <br> Special/Exclusive Offers
                                                <textarea id="offers" name="special_offers" required ngModel class="form-control"></textarea>
                                            </div>

                                        </div>
                                        <div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <b> Discount</b>
                                                    <br> Percentage:
                                                    <br>
                                                    <input type="number" name="off" id="off" ngModel min="0" max="100">
                                                </div>
                                                <br>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    Condition:
                                                    <input type="text" name="condition" id="con" ngModel class="form-control" placeholder="Conditions">

                                                </div>
                                            </div>
                                            <br>
                                            <button type="submit" [disabled]="!exc.valid" class="btn btn-primary btn-md">Add Exclusive</button>

                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Merchant Name</th>
                                    <th>Location</th>
                                    <th>Contact No.</th>
                                    <th>Select Multiple</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let arr of this.merdata;let i =index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{arr.name}}</td>
                                    <td>{{arr.address.locality}},{{arr.address.city}}</td>
                                    <td>
                                        <span *ngFor="let con of arr['contact']['phone_number']">{{con}}  </span>
                                    </td>
                                    <td>&emsp;&emsp;<input type="checkbox" name="ch" value="{{arr._id}}"></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>