<div class="col-sm-12">
    <div class="row">

        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <br>
                    <div class="row">
                        <h4>Merchant Name</h4>
                    </div>
                    <form #data="ngForm" method="POST" nonvalidate (ngSubmit)="fetch(data.value)">

                        <div class="row" class="form-group">

                            <br>
                            <input type="text" name="search" class="form-control" ngModel>
                        </div>

                        <button type="submit" [disabled]="!data.valid" class="btn btn-primary btn-md">Search</button>
                    </form>

                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <div *ngIf="this.merdata">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Merchant ID</th>
                                    <th>Merchant Name</th>
                                    <th>Location</th>
                                    <th>Contact No.</th>
                                    <th>Edit</th>
                                    <th>Add Package</th>
                                    <th>Delete Package</th>
                                    <th>Delete Merchant</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let arr of this.merdata;let i =index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{arr._id}}</td>
                                    <td>{{arr.name}}</td>
                                    <td>{{arr.address.locality}},{{arr.address.city}}</td>
                                    <td>
                                        <span *ngFor="let con of arr['contact']['phone_number']">{{con}}  </span>
                                    </td>
                                    <td>&emsp;<label><i class="fa fa-pencil-square-o fa-lg" (click)="getEditId(arr._id)" data-toggle="modal"  data-target="#edit1" aria-hidden="true"></i></label></td>
                                    <td>&emsp;&emsp;<label>(<b>{{arr.packages.length}}</b>)&emsp;<i class="fa fa-plus fa-lg" (click)="getId(arr._id)" data-toggle="modal"  data-target="#package" aria-hidden="true"></i></label></td>
                                    <td>&emsp;&emsp;&emsp;<label><i class="fa fa-close fa-lg" data-toggle="modal" (click)="getPackages(arr._id)" data-target="#delete" aria-hidden="true"></i></label></td>
                                    <td><button class="btn btn-danger" (click)="deleteMerchant(arr._id)">Delete</button></td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>



<div class="modal fade" id="package" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">

                <h4 class="modal-title" id="edit">Add a Package</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>

</button>
            </div>
            <form #data1="ngForm" method="POST" nonvalidate (ngSubmit)="onsave(data1.value)">
                <div class="modal-body" class="container">


                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row" class="form-group">
                                    Package Name
                                    <textarea name="name" class="form-control" ngModel></textarea>
                                </div>
                                <div class="row" class="form-group">
                                    Original Price
                                    <input type="number" name="original_price" placeholder="Enter Original Price" ngModel class="form-control">
                                </div>

                                <div class="row" class="form-group">

                                    Discounted Price
                                    <input type="number" name="discounted_price" placeholder="Enter Discounted Price" ngModel class="form-control">
                                </div>

                                <div class="row">
                                    &nbsp; <button type="submit" [disabled]="!data1.valid" class="btn btn-primary btn-md">Save</button>

                                </div> <br>
                            </div>
                        </div>

                    </div>
                </div>

            </form>


        </div>


    </div>
</div>


<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">

                <h4 class="modal-title" id="edit">Delete Packages</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>

</button>
            </div>
            <div *ngIf="this.len;else other">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Package Name</th>
                            <th>Original Price</th>
                            <th>Discounted Price</th>
                            <th>Delete Package</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let arr of this.packages;let i =index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{arr.name}}</td>
                            <td>{{arr.original_price}}</td>
                            <td>{{arr.discounted_price}}</td>
                            <td><button class="btn btn-danger" (click)="delete(arr._id)">Delete</button></td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <ng-template #other>
                <div class="container">
                    <div class="col-sm-12">
                        <div class="row">
                            <h5>Seleted Merchant have no packages</h5>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>


    </div>
</div>



<div class="modal fade" id="edit1" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">

                <h4 class="modal-title">Edit Merchant's Information</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>

</button>
            </div>
            <div class="container">
                <div class="col-sm-12">
                    <div class="row">
                        <form #data2="ngForm" [formGroup]="dataForm" nonvalidate (ngSubmit)="uploadData(data2.value)">
                            <br>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="row" class="form-group">
                                                    <div class="col-sm-12">
                                                        <h4>Merchant Name</h4>
                                                        <input type="text" name="name1" id="mer" formControlName="name" class="form-control">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h4>Location</h4>
                                            </div>
                                        </div>
                                        <br>
                                        <div formGroupName="loc">
                                            <div class="row" class="form-group">
                                                <div class="col-sm-12">
                                                    Latitude
                                                    <input type="number" id="latitude" class="form-control">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row" class="form-group">
                                                <div class="col-sm-12">
                                                    Longitude
                                                    <input type="number" id="longitude" class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <br>
                                        <div formGroupName="address">
                                            <div class="row" class="form-group">
                                                <div class="col-sm-12">
                                                    Shop No.
                                                    <input type="text" name="shop_no" formControlName="shop_no" class="form-control">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row" class="form-group">
                                                <div class="col-sm-12">
                                                    Street Name
                                                    <input type="text" name="street" formControlName="street" class="form-control">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row" class="form-group">
                                                <div class="col-sm-12">
                                                    Locality
                                                    <input type="text" name="locality" formControlName="locality" class="form-control">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row" class="form-group">
                                                <div class="col-sm-12">
                                                    City
                                                    <input type="text" name="city" formControlName="city" class="form-control">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row" class="form-group">
                                                <div class="col-sm-12">
                                                    State
                                                    <input type="text" name="state" formControlName="state" class="form-control">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row" class="form-group">
                                                <div class="col-sm-12">
                                                    Pincode
                                                    <input type="number" name="pincode" formControlName="pincode" class="form-control">
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h4>Contact</h4>
                                            </div>
                                        </div>
                                        <br>
                                        <div formGroupName="contact">
                                            <div class="row" class="form-group">
                                                <div class="col-sm-12">
                                                    Client Phone(for displaying in app)
                                                    <input type="text" name="contact_no" formControlName="contact_no" class="form-control">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row" class="form-group">
                                                <div class="col-sm-12">
                                                    Client Phone(for SMS)
                                                    <input type="text" name="phone_number" formControlName="phone_number" class="form-control">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row" class="form-group">
                                                <div class="col-sm-12">
                                                    Contact Email
                                                    <input type="text" name="email" formControlName="email" class="form-control">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row" class="form-group">
                                                <div class="col-sm-12">
                                                    Website
                                                    <input type="text" name="website" formControlName="website" class="form-control">
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                        </div>
                                        <h4>Offers</h4>
                                        <br>
                                        <div class="row" class="form-group">
                                            <div class="col-sm-12">
                                                Special/Exclusive Offers
                                                <textarea id="offers" name="special_offers" formControlName="special_offers" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div formGroupName="discount">
                                            <div class="row" class="form-group">
                                                <div class="col-sm-12">
                                                    <b> Discount</b>
                                                    <br> Percentage:
                                                    <br>
                                                    <input type="number" formControlName="percentage" name="off" id="off" min="0" max="100">
                                                </div>
                                            </div>
                                            <div class="row" class="form-group">
                                                <div class="col-sm-12">
                                                    Condition:
                                                    <input type="text" name="condition" formControlName="condition" id="con" class="form-control">

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <br>

                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h4>Information</h4>
                                            </div>
                                        </div>
                                        <br>
                                        <div formGroupName="information">
                                            <div class="row">
                                                <div class="col-sm-12">

                                                    <h6>Cost</h6>
                                                    <div class="col-sm-12">
                                                        <label class="radio-inline">
                             <input type="radio" name="cost_rating" formControlName="cost_rating" id="q1" value="1">*
                        </label> &nbsp;&nbsp;
                                                        <label class="radio-inline">
                             <input type="radio" name="cost_rating" formControlName="cost_rating" id="q2" value="2">**
                        </label>&nbsp;&nbsp;
                                                        <label class="radio-inline">
                             <input type="radio" name="cost_rating" formControlName="cost_rating" id="q3" value="3">***
                        </label> &nbsp;&nbsp;
                                                        <label class="radio-inline">
                            <input type="radio" name="cost_rating" formControlName="cost_rating" id="q4" value="4">****
                        </label>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <h6> Facilites</h6>
                                                        <label class="checkbox-inline">
                            <input type="checkbox" name="fac" id="r1" value="Card">Card
                        </label>&emsp;
                                                        <label class="checkbox-inline">
                             <input type="checkbox" name="fac" id="r2" value="AC">AC
                        </label>&emsp;
                                                        <label class="checkbox-inline">
                             <input type="checkbox" name="fac" id="r3" value="Wi-Fi">Wi-Fi
                        </label>&emsp;
                                                        <label class="checkbox-inline">
                            <input type="checkbox" name="fac" id="r4" value="Parking">Parking
                        </label>&emsp;

                                                        <label class="checkbox-inline">
                             <input type="checkbox"name="fac" id="r5" value="TV">TV
                        </label>&emsp;

                                                        <br>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <h6>Gender</h6>
                                                        <label class="radio-inline">
                            <input type="radio" value="Men" formControlName="gender" id="w1" name="gender">Men Only
                        </label>&emsp;
                                                        <label class="radio-inline">
                            <input type="radio" value="Women" formControlName="gender" id="w2" name="gender" >Female Only
                        </label>&emsp;
                                                        <label class="radio-inline">
                             <input type="radio" value="Unisex" formControlName="gender" id="w3" name="gender">Unisex
                        </label>&emsp;
                                                    </div>
                                                    <div formGroupName="head">
                                                        <div class="col-sm-12">
                                                            Name
                                                            <input type="text" name="name" formControlName="name" class="form-control">
                                                            <br>
                                                        </div>

                                                        <div class="col-sm-12">
                                                            Designation
                                                            <input type="text" name="designation" formControlName="designation" class="form-control">
                                                            <br>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <h6>Services</h6>
                                                        <label class="checkbox-inline">
                            <input type="checkbox" name="ser" id="s1" value="Salon">Salon
                        </label>&emsp;
                                                        <label class="checkbox-inline">
                            <input type="checkbox"name="ser" id="s2" value="Spa">Spa
                        </label>&emsp;
                                                        <label class="checkbox-inline">
                             <input type="checkbox" name="ser" id="s3" value="Nails">Nails
                        </label>&emsp;
                                                        <label class="checkbox-inline">
                             <input type="checkbox" name="ser" id="s4" value="Make-Up">Make-Up
                        </label>&emsp;
                                                        <label class="checkbox-inline">
                             <input type="checkbox" name="ser" id="s5" value="Tattoo">Tattoo
                        </label>&emsp;
                                                        <label class="checkbox-inline">
                             <input type="checkbox" name="ser" id="s6" value="Pets">Pets
                        </label>&emsp;
                                                        <label class="checkbox-inline">
                             <input type="checkbox" name="ser" id="s7" value="Bridal">Bridal
                        </label>&emsp;
                                                        <br>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div formGroupName="work_hours">
                                            <div class="row" class="form-group">
                                                <div class="col-sm-12">
                                                    <h6> Holidays </h6>
                                                    <label class="checkbox-inline">
                            <input type="radio" name="holiday" formControlName="holiday" id="h1" value="Monday">Monday
                        </label>&emsp;
                                                    <label class="checkbox-inline">
                            <input type="radio" name="holiday" formControlName="holiday" id="h2" value="Tuesday">Tuesday
                        </label>&emsp;
                                                    <label class="checkbox-inline">
                             <input type="radio" name="holiday" formControlName="holiday" id="h3" value="Wednesady">Wednesady
                        </label>&emsp;
                                                    <label class="checkbox-inline">
                             <input type="radio" name="holiday" formControlName="holiday" id="h4" value="Thursday">Thursday
                        </label>&emsp;
                                                    <label class="checkbox-inline">
                             <input type="radio" name="holiday" formControlName="holiday" id="h5" value="Friday">Friday
                        </label>&emsp;
                                                    <label class="checkbox-inline">
                             <input type="radio" name="holiday"formControlName="holiday" id="h7" value="Sunday">Sunday
                        </label>&emsp;
                                                    <label class="checkbox-inline">
                             <input type="radio" name="holiday"formControlName="holiday" id="h6" value="Saturday">Saturday
                        </label>
                                                    <br>
                                                </div>
                                            </div>
                                            <div class="row" class="form-group">
                                                <div class="col-sm-12">
                                                    <h6>Opening Hours</h6>
                                                    <input type="text" name="opening_time" formControlName="opening_time" pattern="\b((1[0-2]|0?[1-9]):([0-5][0-9]) ([AP][M]))" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row" class="form-group">
                                                <div class="col-sm-12">

                                                    <h6>Closing Hours</h6>
                                                    <input type="text" name="closing_time" formControlName="closing_time" pattern="\b((1[0-2]|0?[1-9]):([0-5][0-9]) ([AP][M]))" class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <button type="submit" [disabled]="!data2.valid" class="btn btn-primary btn-md">Save</button>
                            <br>
                            <br>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>